.moreOptions{
    position: absolute;
    bottom: 50px;
    left: 30px;
    border: 1px solid #f0f0f0;
    background-color: rgb(255, 255, 255);
    width: 180px;
    border-radius: 5px;
    display: none;
    width: 80%;
}

.moreOptionsItem{
    padding: 11px 28px;
}

.moreBtn{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10px;
}

.moreOptionText{
    color: #262626; 
    font-size: 15.5px;
    margin-top: 5px;
}

.moreOptionIcon{
    font-size: 19px;
}

.moreBtn:hover .moreOptions{
    display: inline-block;
}

.moreOptionsItem:hover{
    background-color: #f1f1f1;
}

.sidebox:hover{
    background-color: #f3f3f3;
    border-radius: 10px;
    padding-right: 10px;
}

.menuIcon{
    padding-top: 7px;
}

.sideBarMainBox{
    width: 100%;
    border-right: 1px solid #eee; 
    height: calc(100vh - 60px); 
    overflow: hidden auto;
    padding: 20px; 
    background-color: white;
    position: sticky; 
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarAside{
    display: flex;
    flex-direction: column;
}

.profileStack{
    padding-top: 14px;
}

.sidebarElementIcon{
    color: #262626;
    font-size: 24px;
}

.sidebarElementName{
    color: #262626; 
    font-size: 15px; 
    padding-top: 5px
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
    .sidebarElementName{
        display: none
    }

    .sideBarMainBox{
        padding: 10px; 
    }
}

@media screen and (max-width: 600px){
    .sidebarElementName{
        display: none;
    }

    .sideBarMainBox{
        padding: 10px; 
    }
}

@media screen and (max-width: 440px){
    .sidebarElementName{
        display: none;
    }

    .sideBarMainBox{
        padding: 10px; 
        padding: 0px 15px 0px 10px;
        height: 70px; 
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #eee;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
    }

    .sidebarAside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: nowrap;
    }

    .moreBtn{
        margin-top: -5px;
        padding-left:0px;
        border-radius: 0px
    }

    .sidebox{
        padding-right: 10px;
    }

    .sidebox:hover{
        padding-right: 10px;
    }

    .profileStack{
        padding-top: 10px;
    }

    .menuIcon{
        padding-top: 4px;
        padding-left: 2px;
    }

    .sidebox:nth-child(5){
        display: none;
    }

    .sidebox:nth-child(6){
        display: none;
    }

}