.fontType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigImg{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.username{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#111;
    font-size: 14.1px;
}

.captionText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#111;
    font-size: 14.1px;
}

.commentText{
    font-size: 13.5px;
    color: #777;
    margin-top: 10px;
}

.pic_username{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.likesCount1{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 8px;
    padding: 0px 20px;
}

.postTime{
    margin-top: 3px;
    padding: 0px 20px;
    font-size: 12px;
    color: #777;
}

.singlePostCommentBox{
    height: 100%;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
}

.inputCommentBox{
    width: 100%;
    height: 45px;
    border: none;
    padding: 0px 20px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputCommentBox:focus{
    outline: none;
}

.icons{
    font-size: 23px;
    color: #111;
}

.icon-liked{
    font-size: 23px;
    color: #dc3545;
}

.icons:hover{
    color: #4a4a4a;
}

.save-icon{
    font-size: 21px;
    color: #111;
}

.save-icon:hover{
    color: #444;
}

.postBtn2{
    color: #008cff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: #c2e2ff8e;
    padding: 7px;
    border-radius: 5px;
}

.alertText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.2px;
    letter-spacing: 0.4px;
}

.singlePostImg{
    width: 55%;
    height: 100%;
    position: relative;
}

.rightSideSinglePostBox{
    width: 50%;
    height: 100%;
}

.singlePostMainBox{
    margin: auto;
    width: 75%;
    height: 92%;
    background-color: white;
    border-radius: 6px;
}

.singlePostLikeBtn{
    display: inline-block;
}

@media screen and (max-width: 600px){
    .singlePostImg{
        width: 0%;
    }

    .rightSideSinglePostBox{
        width: 100%;
    }

    .singlePostMainBox{
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px;
    }

    .singlePostLikeBtn{
        display: none;
    }
}